<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>449429025133-uutgbafebhv6g5886omirm9m83tt96qr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.449429025133-uutgbafebhv6g5886omirm9m83tt96qr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>449429025133-qvcn696ts45fcab0m58709fp24hrqh66.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCuOhu1Xvyqe-g0NseWIw7yrhq5prfKAAI</string>
	<key>GCM_SENDER_ID</key>
	<string>449429025133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.snapCart</string>
	<key>PROJECT_ID</key>
	<string>tokoto-ecommerce-app</string>
	<key>STORAGE_BUCKET</key>
	<string>tokoto-ecommerce-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:449429025133:ios:c38f4ef1a02076a91a2a64</string>
</dict>
</plist>